<!DOCTYPE html>
<html>
  <head>
    <link href="/css/vendor/semantic.min.css" rel="stylesheet"/>
    <link href="/css/site.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="app">
      <div class="ui active centered inline loader middle aligned huge" style="margin-top:25%;"></div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>" type="text/javascript"></script>
    <script>
      canboard_frontend.core.initializeApp({
      "api-base-path" : "api",
      "auth": {
        "endpoint" : "sessions",
        "json-root" : "session",
        "strategy" : { "type" : "session" }}});
    </script>
  </body>
</html>
